In [8]:
import pandas as pd

In [9]:
pd.__version__

'1.4.2'

In [3]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\dell\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\dell\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install fastparquet

Requirement already satisfied: fastparquet in c:\users\dell\anaconda3\lib\site-packages (0.8.1)
Requirement already satisfied: cramjam>=2.3.0 in c:\users\dell\anaconda3\lib\site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: fsspec in c:\users\dell\anaconda3\lib\site-packages (from fastparquet) (2022.2.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\dell\anaconda3\lib\site-packages (from fastparquet) (1.4.2)
Requirement already satisfied: numpy>=1.18 in c:\users\dell\anaconda3\lib\site-packages (from fastparquet) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pyarrow.parquet as pq
trips = pq.read_table('yellow_tripdata_2022-01.parquet')
df = trips.to_pandas()

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [12]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [13]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\dell\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [17]:
df.head(0).to_sql(name='yellow_taxi_data', con = engine, if_exists = 'replace')

0

In [18]:
df.to_sql(name='yellow_taxi_data', con = engine, if_exists = 'append', chunksize=100000)

24931

In [24]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)